*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.bg{
  height: 100vh;
  display: flex;
  align-items: center;
}
.contain{
  width: 50% ;
  margin: auto ;
  padding: 50px;
  background-color: white;

  border-radius: 10px;
}
.contain2{
  // background-color: red;
  width: 50% ;
  margin: auto ;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

  border-radius: 10px;
}
.inputbox{
  position: relative;
  margin-bottom: 20px;
  
}
.inputbox {
  input{
    width: 100%;
    padding: 10px;
    border: 1px solid #dadce0;
    border-radius: 6px;
    background-color: transparent;
    outline: none;
    
    
  }
  span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: gray;
    text-transform: uppercase;
    transition: all 0.5s;
  }

}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
  color: rgb(0, 81, 255);
  transform: translateX(10px) translateY(-10px);
  font-size: 0.75em;
  padding: 0 10px;
  background: white;
}
.inputbox input:valid ,
.inputbox input:focus 
{
  border: 1px solid rgb(0, 81, 255); 
}

.pauth{
  color: red;
  
}
@media screen and (max-width: 750px) {
  .contain2{
    width: 80%;
  }
}
@media screen and (max-width: 675px) {
  .contain{
    width: 95%;
  }
}
body{
  padding: 0;
  margin: 0;
  font-family: montserrat;
}
.center {
  height: 100vh;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  // position: relative;
  h1 {
    text-align: center;
    padding: 0 0 20px 0;
    font-weight: 700;
    color: black;
  }
  .styless {
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      box-sizing: border-box;
      input {
        width: 250px;
      }
      .item {
        display: flex;
        label {
          color: white;
        }
      }
      button {
        height: 50px;
        border: 1px solid;
        background: #2691b9;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 700;
        color: white;
        cursor: pointer;
        outline: none;
        margin-left: 60px;
      }
      button:hover {
        border-color: #2691b9;
        transition: 0.5s;
      }
      a{
        font-size: 20px;
        margin-left: 70px;
        color: white;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}
